#EntireContent {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#MainContent {
    width: 650px;
    clear: both;
}

#SideBar {
    width: 270px;
}

#NameContainer {
   float: left;
   position: relative;
   background-color: #4da8a3;
   height: 85px;
   width: 230px;
}

#NameLabel{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 33%;
    margin: auto;
    color: #fffefc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.bug {
    width: 50px;
    height: 50px;
}

#NavButtons {
    width: 730px;
    height: 85px;
    position: relative;
    left: 230px;
}


/* https://www.w3schools.com/css/css_navbar.asp */
.NavUl {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    position: absolute;
    right:0;

}

.NavUl li {
    float:left;
    width: 75pz;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    color: #4da8a3;
}

.NavUl #CenterNav {
    border-left-style: solid;
    border-right-style: solid;
    border-left-width: .5px;
    border-right-width: .5px;
    border-color: #4da8a3;
}

.NavUl li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #4da8a3;
}

.NavUl li a:hover {
    background-color: #4da8a3;
    color: white;
}
